/* Global styling */
body {
  font-family: Verdana, Arial, sans-serif;
  background-color: #edece5;
}

/* Header styling */
header {
  background-color: #edece5;
  color: #282828;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: "Lora", serif;
}

body {
  font-family: 'Lora', serif;
}

h1 {
  font-size: 26px;
  font-weight: bold;
  margin: 0;
}

img.logo {
    /* CSS-egenskaber for dit logo [img class logo] */
  width: 65px; /* Eksempel på bredde */
  height: auto; /* Eksempel på højde (bevarer billedets proportioner) */
  margin: 10px; /* Eksempel på margen på 10 pixels omkring billedet */
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-navigation {
  display: flex;
}

.main-navigation a {
  margin-left: 50px; /* Adjust this value as needed */
}

div#layout {
  text-align: center;
}

svg {
  width: 100%;
  height: 100%;
}

text {
  font-size: 12px;
  fill: #333;
}

/* Footer styling */
footer {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
}
